*{
    box-sizing: border-box;
}
body{
    font-family: $Opensans-Regular;
}
.container{
    width: 90%;
    margin: auto;
    max-width: unset;
}
.article{
    padding-top: 30px;
    background: $light-grey;
}


//margin {
    .m{
        &b {
            &-0 {
                margin-bottom: 0;
            }
        }
        &t{
            &-0 {
                margin-top: 0;
            }
        }
        &l {
            &-0 {
                margin-left: 0;
            }
        }
        &r {
            &-0 {
                margin-right: 0;
            }
        }
    }
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.text-right {
    text-align: right;
    color: $grey;
}
.row {
    margin-bottom: 0 !important;
}