.article-left {
    padding-bottom: 50px;

    .user-image {
        text-align: center;

        img {
            width: 90px;
            height:90px;
            border-radius: 50%;
        }
    }

    .user-name {
        text-align: center;
        color: $black;
        font-size: 20px;
        margin: 6px 0;

    }

    p {
        text-align: center;
        margin: 0;
        padding-bottom: 30px;
        color: $grey;
    }

    .button {

        .btn {
            text-transform: none;
            color: $white;
            background: $orange;
            width: 100%;
            transition: 1s;

            &:hover {
                color: $orange;
                background: $white;
                transition: 0.8s;
            }
        }

        .material-icons {
            vertical-align: bottom;
            padding-right: 6px;
        }

        span {
            display: block;
            padding-left: 24px;
            margin: 14px;
            color: $grey;
            cursor: pointer;


            &:hover {
                color: $orange;
            }
        }
    }
}