.logo-img{
    img{
        height: 50px;
        width: auto;
    }
}
.footer-logo {
    text-align: center;
    padding: 12px;
    img {
        filter: grayscale(1);
        height: 50px;
        width: auto;
    }
}